asgiref==3.11.1
Django==5.2.16
django-cors-headers==4.9.0
django-environ==0.14.0
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
gunicorn==26.0.0
packaging==26.2
psycopg2-binary==2.9.12
PyJWT==2.13.0
sqlparse==0.5.5
whitenoise==6.12.0
